<div class="row">
    <div class="col-xs-2 col=sm-2 col-md-2 col-lg-2 menu">
        <menudatacentre></menudatacentre>
    </div>
    <div class="col-xs-10 col=sm-10 col-md-10 col-lg-10">
        <div class="main">
            <h1>Опис послуг Дата центру</h1>
            <p>Новий Дата-Центр ТОВ «Укрком» введений в експлуатацію в травні 2013 року. Проектування і будівництво Дата-Центру велося з врахуванням 20-ти річного досвіду експлуатації об'єктів телекомунікаційної інфраструктури, з дотриманням основних вимог Uptime Institute рівнів Tier III-IV і стандарту Tia-942.<br>
               Головною метою створення Дата-Центру було забезпечення зростаючих потреб самого ТОВ«УКРКОМ» в новому сучасному об'єкті, здатному вмістити комутаційне устаткування власної опорно-транзітної АТС, свій зростаючий серверний парк і нове обладнання ядра опорної мережі УКРКОМ.<br>
               Частина площ побудованої і введеної в експлуатацію першої черги Дата-Центру відведена для розміщення устаткування клієнтів УКРКОМ.<br>
               За наявності попиту ми маємо можливість в короткий термін наростити ємкість Дата-Центру до більш ніж 100 стандартних шаф шляхом дообладнання резервних площ.<br>
               Всім клієнтам Дати-центру надається можливість використання стандартної шафи шириною 600 (19 дюймів) і завглибшки 1000 мм. Можливе розміщення нестандартних шаф.<br>
               У шафах Дати-Центру є підготовка СКС (6 категорія), під фальшполом передбачені лотки для прокладки мідних або оптичних кабелів і патчкордов.<br>
               Подача холодного повітря – знизу і в прохід холодної зони спереду (шафи з гратами 60% перекриттів спереду і ззаду).<br>
               Безперебійне електроживлення Дата-Центру забезпечується від двох незалежних модульних джерел Liebert APM. Система АВР побудована на швидкодіючих електромеханічних перемикачах. Відсутність контакторів, що знаходяться під напругою, і взаємні механічні блокування підвищують надійність застосованої схеми Дата-Центру і одночасно захищають від помилок персоналу.<br>
               Заземлення об'єкту Дата-Центру забезпечують дві просторово рознесені свердловини, завглибшки 68 і 76 метрів. Така схема гарантовано захищає устаткування і персонал при будь-яких аваріях ТП.<br>
               Вживання металевого електростатичного екрану по всій поверхні чистої підлоги Дата-Центру, а також спеціальна конструкція плит фальшпола з металевим аркушем в нижній частині, разом із струмопровідними елементами опор і заземленими лотками, виключають накопичення об'ємного заряду повітряного потоку, а також відмінно захищають устаткування від імпульсних наведень.<br>
               Система об'ємного газового пожежогасіння Дата-Центру оснащена датчиками раннього виявлення диму і балонами, які рівномірно розподілені за площею під фальшполом.<br>
               Система контролю доступу Дата-Центру, датчики руху і система відеоспостереження з тривалим терміном зберігання записів камер HD забезпечують ефективний контроль доступу, охорону і спостереження за діями персоналу.</p>
        </div>
    </div>

</div>