<div class="dropdown">
    <button class="btn btn-success dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Выберіть меню
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a role="menuitem" routerLink="/phoneprice" routerLinkActive="active" >Тарифи</a></li>
      <li role="presentation"><a role="menuitem" routerLink="/codekiev" routerLinkActive="active">Телефонні коди Київської області</a></li>
      <li role="presentation"><a role="menuitem" routerLink="/" routerLinkActive="active">Телефонні коди міст України</a></li>
      <li role="presentation"><a role="menuitem" routerLink="/" routerLinkActive="active">Телефонні коди Росії</a></li>
      <li role="presentation"><a role="menuitem" routerLink="/codesng" routerLinkActive="active">Телефонні коди міст СНГ</a></li>
      <li role="presentation"><a role="menuitem" routerLink="/codeasia" routerLinkActive="active">Телефонні коди країн Азії</a></li>
      <li role="presentation"><a role="menuitem" routerLink="/codeeurope" routerLinkActive="active">Телефонні коди Європи</a></li>
      <li role="presentation"><a role="menuitem" routerLink="/codesamerica" routerLinkActive="active">Телефонні коди північної Америки</a></li>
      <li role="presentation"><a role="menuitem" routerLink="/codeafrica" routerLinkActive="active">Телефонні коди південної <br> центральної Америки</a></li>
      <li role="presentation"><a role="menuitem" routerLink="/codeocean" routerLinkActive="active">Телефонні коди Австралії,Океанії</a></li>
      <hr>
      <li role="presentation"><a role="menuitem" routerLink="/codedop" routerLinkActive="active">Довідник екстренних <br>і телефонних служб</a></li>
      <li role="presentation"><a role="menuitem" routerLink="/document" routerLinkActive="active">Нормативні документи</a></li>
      <li role="presentation"><a role="menuitem" routerLink="/agreement" routerLinkActive="active">Договір</a></li>
      <li role="presentation"><a role="menuitem" routerLink="/requestform" routerLinkActive="active">Замовити послугу</a></li>
      <li role="presentation"><a role="menuitem" routerLink="/app-requestformforadmin" routerLinkActive="active">Поточні замовлення</a></li>
    </ul>
  </div>