<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
    <div class="col=xs-10 col-sm-10 col-md-10 col-lg-10">
    <h2>Alcatel-Lucent OmniPCX Office</h2>
    <h4>от 5 до 236 абонентов</h4>
    <p>Интегрированная система связи для малых и средних предприятий (SMB), Alcatel-Lucent OmniPCX Office предлагает персонального 
        коммуникационного менеджера (PIMphony), передовые решения для контакт центра (Alcatel-Lucent OmniTouch Call Center Office) 
        безопасный и высокоскоростной доступ в интернет, комплексные решения по TDM и IP-телефонии а также IP-инфраструктуре (LAN, WLAN). 
        Решение Alcatel-Lucent состоит из предварительно настроенного сервера, который предоставляет каждому сотруднику услуги голосовой 
        связи, доступ в Интернет, электронную почту и передачу данных.</p>
        
        <h5>Компоненты разработанные для OmniPCX Office</h5>
        <h6>Alcatel-Lucent Extended Communication Server</h6>
        <p>Простое и модульное решение, которое отвечает всем требованиям малых и средних компаний для общения, взаимодействия и мобильности 
            их сотрудников. Это решение позволяет сотрудникам получить максимум эффективности от поставленных перед ними бизнес задач, при
             помощи набора коммуникационных инструментов.</p>
             <h6>Alcatel-Lucent OmniTouch My Teamwork Office Edition (командная работа и конференции)</h6>
             <p>Программное обеспечение основанное на мульти-медиа, идеальное решение для бизнес-коммуникаций, которое работает на любом устройстве.
                  Используйте OmniTouch My Teamwork Office Edition с любого телефона, в любом месте, безопасная конференция с любого браузера с кем 
                  угодно, внутри компании или за её пределами, без специализированного программного обеспечения и VPN сети.
                 Индикация присутствия на рабочем месте, простой и понятный интерфейс, поддержка полного набора функций, конференции, чат, приложения 
                для работы на удалённом рабочем столе, управление документами и много другое.</p>
                <h6>Alcatel-Lucent PIMphony</h6>
                <p>PIMphony – персональный коммуникационный менеджер, программный продукт который связывает настольный телефон с компьютером, и 
                    становится вашим надёжным помощником для выполнения повседневных задач. Он предлагает комплекс сервисов в который входит: история
                     звонков , голосовая почта и различные виды мониторинга. Помощник постоянно доступен на вашем компьютере, в не зависимости от запушенных
                      приложений. База контактов вашей компании полностью интегрируется с PIMphony для оптимизации работы сотрудников. PIMphony улучшает 
                      взаимодействие с клиентами, тем самым увеличивая продуктивность предприятия и персонала, оправдывая инвестиционные вложения в телекоммуникации.</p>
                      <h6>Alcatel-Lucent PIMphony Attendan</h6>
                      <p>приложения для централизованного управления звонками. Эргономичный интерфейс позволяющий управлять звонками и приветствием клиентов с быстрой
                     переадресацией, моно или мульти администрирование.</p>
                     <h6>Alcatel-Lucent OmniTouch Call Center Office (до 10 агентов)</h6>
                     <p>Создан для малых предприятий, по принципу «всё в одном», предназначен для улучшения качества обслуживания клиентов. При увеличении потребностей 
                        компании возможно расширение функциональных возможностей. Решение включает в себя автоматическое распределение вызовов (ACD), мониторинг и 
                        статистика звонков, помощник агента.</p>

            <h5>Платформы OmniPCX Office:</h5>
            <div class="allomni">
            <div class="omni">
                <h6>Compact:</h6>
                <p>От 6 до 16 абонентов</p>
                <img src="assets/images/device/OXO-Platform1.jpg">
            </div>
            <div class="omni">
                 <h6>S:</h6>
                <p>От 6 до 20 абонентов</p>
                <img src="assets/images/device/OXO-Platform2.jpg">
            </div>
            <div class="omni">
                  <h6>M:</h6>
                  <p>От 16 до 60 абонентов</p>
                  <img src="assets/images/device/OXO-Platform3.jpg">
            </div>
            <div class="omni">
                    <h6>L:</h6>
                    <p>От 30 до 90 абонентов</p>
                    <img src="assets/images/device/OXO-Platform4.jpg">
            </div>
            <div class="onmi">
                    <h6>XL:</h6>
                    <p>От 200 абонентов</p>
                    <img src="assets/images/device/OXO-Platform5.jpg">
            </div>
            </div>
                <h5> Преимущества:</h5>
            <ul>
                <li>Разработан для малых и средних предприятий, которые не имеют специализированных IT специалистов</li>
                <li>Комплексная, модульная система, поддержка TDM, IP телефония, доступ в Интернет, электронная почта и локальная сеть</li>
                <li>Доступ в публичную сеть возможен по таким каналам как: аналоговые линии, PCM, ISDN и SIP.</li>
                <li>Сеть основана на Standard Virtual Private Network (ISVPN), через IP посредством Internet, либо через SIP</li>
                <li>Голосовые коммуникации, call server, голосовая почта, персональный помощник, интегрированный CTI сервер, поддержка
                     аналоговых, цифровых и Ip абонентов, пользователей мобильных устройств и PC softphone, решения для гостиничных комплексов.</li>
                <li>IP телефония позволяющая передавать голос через LAN либо глобальную сеть WAN. IP телефоны могут работать совместно с цифровыми 
                    телефонами, и предоставлять одинаковый уровень сервисов.</li>
                <li>Профессиональное Internet решение, включает в себя: firewall, proxy server, cache server, IP VPN server, e-mail server, и intranet 
                    server обеспечивающий безопасность, высокоскоростной доступ через IDSN или ADSL.</li>
                <li>Встроенный e-mail server, универсальное решение для обмена сообщениями и почтой реализованное при интеграции голосовой почты
                     и e-mail, поддержка стандартных e-mail клиентов (POP3, IMAP4), доступ к голосовой почте и e-mail через простой браузер.</li>
                <li>Интегрированное LAN решение, в которое включены такие сервисы как, Dynamic Host Configuration Protocol (DHCP), Domain Name System 
                    (DNS) а также файловый сервер.</li>
                <li>Решения для мобильности, который предлагаются согласно ваших потребностей. Мобильные решения для настольных телефонов, bluetooth
                     гарнитуры для комфорта и свободы передвижения. Решения для мобильности сотрудников вне зависимости от их рабочего места основанные 
                     на DECT и WIFI. Приложения для пользователей мобильных устройств Cellular Extensions.</li>
                <li>Открытая технология: система основана на Linux, поддержка всех стандартов для Интернета, телефонии и передачи данных.</li>
            </ul>
    </div>
            
</div>