<div class="row">
        <div class="col-xs-2 col=sm-2 col-md-2 col-lg-2 menu">
            <menudata></menudata>
        </div>
        <div class="col-xs-10 col=sm-10 col-md-10 col-lg-10">
            <div class="multi">
                <p>Мультисервісні корпоративні системи зв'язку: передача голосу, відео, даних і постійний доступ до Інтернет по виділеним цифровим каналам зв'язку</p>
                <h4>Для чого використовується наша мережа передачі даних?</h4>
                <ul>
                    <li>Передача даних, зображень (у бізнесі, медицині, навчання, розваги і т. д.) і оцифрованого голосового трафіку:</li>
                    <ul>
                        <li>для закритої, територіально розподіленої корпоративної мережі передачі даних і телефонної мережі з внутрішньою корпоративною нумерацією, яка довільно призначається, без виходу на місцеві АТС;</li>
                        <li>для територіально розподіленої корпоративної мережі передачі даних з санкціонованим виходом в Інтернет;</li>
                        <li>внутрішньої телефонної мережі з контрольованим виходом на телефонну мережу загального користування, міжміські та міжнародні комутатори.</li>
                    </ul>
                    <li>Об'єднання офісних АТС і локальних обчислювальних мереж (ЛОМ) у мультисервісні корпоративні системи зв'язку з одночасною передачею голосу, відео і даних.</li>
                    <li>Зв'язок віддалених терміналів з серверами ЛОМ, банкоматів або терміналів з процесинговим центром, і т. д.</li>
                    <li>Надання в оренду широкосмугових виділених каналів зв'язку для топології «точка-точка» через найближчі вузли опорної волоконно-оптичної транспортної мережі передачі даних.</li>
                    <li>Надання постійного доступу до Інтернету, оскільки всі вузли нашої опорної мережі інтегровані у Глобальну мережу через наш центральний вузол пакетної комутації, який розташований у приміщенні АМТС м.Києва.</li>
                    </ul>
                    <h4>Як поєднати передачу даних, доступ в мережу Інтернет і підключення телефонів Вашої корпоративної телефонної мережі до міської телефонної мережі загального користування?</h4>
                    <p>Одночасний доступ до внутрішньої корпоративної мережі, телефонної мережі загального користування та мережі Інтернет по загальному каналу передачі даних дозволить Вам заощадити чимало коштів і отримати надійний і якісний зв'язок:</p>
                    <ul>
                        <li>Залежно від типу абонентського обладнання,що використовується, Ви можете підключити свої звичайні аналогові телефонні апарати до голосових портів абонентського маршрутизатора корпоративної мережі. У цьому випадку, передача голосового телефонного трафіку між територіально розподіленими офісами Вашої компанії здійснюється з корпоративної мережі передачі даних без виходу на міжміські комутатори і, як наслідок, у Вас відпадає необхідність оплати за сервіс міжміських і міжнародних дзвінків між філіями компанії.</li>
                        <li>Всі корпоративні телефонні номери можуть бути виділені з номерної ємності одного комутатора, через який забезпечується вихід на телефонну мережу загального користування.</li>
                        <li>Телефонні номери не прив'язані до місця установки телефону. Вони можуть зберігатися за їх власником при зміні його місця дислокації та змінюватися за 1-2 хв., без виконання механічних операцій.</li>

                    </ul>
                    <h4>Чому це вигідно?</h4>
                    <p>Ви оплачуєте організацію і експлуатацію мінімальної кількості цифрових каналів зв'язку, оскільки в мультисервісних корпоративних системах зв'язку, по одній фізичній лінії одночасно здійснюється передача всіх видів трафіку, включаючи трафік  корпоративної та публічної телефонної мережі та постійний доступ до Інтернет. Одночасно з цим Ви додатково отримуєте наступні переваги:</p>
                    <ul>
                        <li>Можливість одночасного доступу в телефонну мережу загального користування, включаючи міжміський і міжнародний зв'язок, внутрішню корпоративну телефонну мережу і глобальну мережу Інтернет;</li>
                        <li>Вам не треба додзвонюватися на модемний пул для встановлення комутованого з'єднання і оплачувати "повременку" операторам телефонної мережі загального користування;</li>
                        <li>Висока швидкість доступу в Інтернет по постійному широкосмуговому з'єднанню;</li>
                        <li>Вам немає необхідності здобувати офісну АТС;</li>
                        <li>Високий рівень захищеності від прослухування на лінії і якість зв'язку корпоративної мережі;</li>
                        <li>Ви можете автоматично контролювати вихід своїх співробітників в Інтернет і телефонну мережу загального користування, одночасно відсікаючи можливість несанкціонованого доступу ззовні в свою корпоративну мережу передачі даних і внутрішню телефонну мережу;</li>
                        <li>Оперативна тарифікація послуг телефонії та отримання за бажанням всіх супутніх Інтернету-послуг.</li>

                    </ul>
                    <h4>Чому це просто?</h4>
                    <ul>
                        <li>Ви маєте справу з одним оператором зв'язку, який швидко і кваліфіковано виконає з гарантією якості всі роботи "під ключ".</li>
                        <li>Якщо ви побажаєте, ми допоможемо Вам розробити оптимальний телекомунікаційний проект, виходячи з Ваших потреб і фінансових можливостей. Ви можете бути упевнені - наші фахівці знайдуть найбільш ефективні рішення, які максимально задовольнять Ваші запити за мінімально можливими цінами.</li>
                        <li>Ми можемо виконати постачання необхідного Вам устаткування для реалізації проектних рішень.</li>
                        <li>Фахівці нашого сервісного центру налагодять і надалі забезпечать кваліфіковане обслуговування комунікаційного устаткування Вашої корпоративної мережі.</li>
                        <li>Ми завжди готові прийти до Вас на допомогу для вирішення будь-яких технічних проблем.</li>
                    </ul>
                    <h4>Чому ми можемо гарантувати високу якість та оперативність підключення?</h4>
                    <ul>
                        <li>Ми пропонуємо Вам доступ в Інтернет через власну волоконно-оптичну транспортну мережу.</li>
                        <li>Наші вузли розташовані в будівлях телефонних станцій міської телефонної мережі і тому відстань від будь-якого потенційного користувача до найближчої точки нашої опорної мережі не перевищує 3-5 км.</li>
                        <li>Ми використовуємо устаткування провідних світових виробників в області телекомунікацій, лише перевірені технічні рішення і перспективні технології.</li>
                        <li>Пропускна спроможність зовнішніх і внутрішньоукраїнських наземних каналів, підключених до нашого центрального вузла комутації, має великий резерв надійності і смуги пропускання сигналу.</li>
                    </ul>
                
            </div>
        </div>
    
    </div>