

<div class="row">
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <menuphone></menuphone>
</div>
<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 sngcode">
    <h1>Телефонні коди країн СНГ</h1>
        <table class="redTable">
                <thead>
                <tr>
                <th>Країна</th>
                <th>Код</th>
                
                </tr>
                </thead>
                
                <tbody>
                <tr>
                <td>Азербайжан</td>
                <td>994</td>
                
                </tr>
                <tr>
                <td>Азербайжан(мобільна)</td>
                <td>9945</td>
                
                </tr>
                <tr>
                <td>Білорусь</td>
                <td>375</td>                
                </tr>
                <tr>
                <td>Білорусь(мобільна)</td>
                <td>37529</td>                
                </tr>
                <tr>
                <td>Вірменія</td>
                <td>374</td>
                
                </tr>
                <tr>
                <td>Вірменія(мобільна)</td>
                <td>3749</td>             
                </tr>
                <tr>
                <td>Грузія</td>
                <td>995</td>             
                 </tr>
                 <tr>
                <td>Грузія(мобільна)</td>
                <td>995(7,9)</td>             
                </tr>
                <tr>
                <td>Казахстан</td>
                <td>7(31,32,330,336,57)</td>             
                </tr>
                <tr>
                <td>Казахстан(мобільна)</td>
                <td>7(300,333,700)</td>             
                </tr>
                <tr>
                <td>Киргистан</td>
                <td>996</td>             
                </tr>
                <tr>
                <td>Киргистан(мобільна)</td>
                <td>9965</td>             
                </tr>
                <tr>
                <td>Молдова</td>
                <td>373</td>             
                </tr>
                <tr>
                <td>Молдова(мобільна)</td>
                <td>373(6,7)</td>             
                </tr>
                <tr>
                <td>Таджикистан</td>
                <td>992</td>             
                </tr>
                <tr>
                <td>Туркменістан</td>
                <td>993</td>             
                </tr>
                <tr>
                <td>Узбекистан</td>
                <td>998</td>             
                </tr>
                
                </tbody>
                </table>
</div>
</div>