<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 navi">
        <menuphone></menuphone>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 document">
        <h1>Нормативні документи</h1>
            <table class="redTable">
                    <thead>
                    <tr>
                    <th>Назва документу</th>
                    <th>Опис</th>
                    <th>Дата</th>
                    </tr>
                    </thead>
                    
                    <tbody>
                    <tr>
                    <td><a href="http://zakon2.rada.gov.ua/laws/show/1280-15">Закон України про телекомунікації</a></td>
                    <td>Закон України про телекомунікації</td>
                    <td>28 лютого 2012 року</td>                  
                    </tr>
                    <tr>
                    <td><a href="http://zakon3.rada.gov.ua/laws/show/295-2012-%D0%BF">Про затвердження Правил надання та отримання телекомунікаційних послуг</a></td>
                    <td>Про затвердження Правил надання та отримання телекомунікаційних послуг</td>
                    <td>11 квітня 2012 року</td>
                    </tr>               
                    </tbody>
                    </table>
    </div>
    </div>