<div *ngIf="visible">
<h4>Рівні показників якості телекомунікаційних послуг та обслуговування споживачів за 2015 р.</h4>
<table class="redTable">
<thead>
<tr>
<th>№ п/п</th>
<th>Найменування показника (параметра) якості<br> телекомунікаційної послуги,який визначений<br> НКРЗ для оприлюднення</th>
<th>Одиниця виміру</th>
<th>Рівень, який <br>встановлений центральним <br>органом виконавчої <br> влади в галузі <br> зв'язку (ЦОВЗ)</th>
<th>Рівень, який <br>був запланований <br>на звітний рік</th>
<th>Досягнутий рівень <br> за звітний рік</th>
</tr>
</thead>
<tbody>
    <tr class="section">
       <td> Послуги фіксованого телефонного зв'язку:</td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
    </tr>
    
<tr>
<td>1</td>
<td>Відсоток заяв про підключення кінцевого обладнання <br>споживачів до мережі місцевого телефонного <br> зв’язку, виконаних за нормований час</td>
<td>%</td>
<td>не менше 90</td>
<td>не менше 90</td>
<td>95</td>
</tr>
<tr>
<td>2</td>
<td>Відсоток справних таксофонів</td>
<td>%</td>
<td>не менше 90</td>
<td>-</td>
<td>-</td>
</tr>
<tr>
<td>3</td>
<td>Кількість звернень щодо сторонніх підключень з розрахунку<br> на одну лінію доступу за рік</td>
<td>&nbsp</td>
<td>не більше 0,2</td>
<td>не більше 0,2</td>
<td>0,05</td>
</tr>
<tr>
<td>4</td>
<td>Відсоток заяв про пошкодження телекомунікаційної мережі,<br> виконаних за нормований час</td>
<td>%</td>
<td>не менше 65</td>
<td>не менше 65</td>
<td>80</td>
</tr>
<tr>
<td>5</td>
<td>Кількість заяв про пошкодження телекомунікаційної мережі <br>з розрахунку на одну лінію доступу за рік</td>
<td>&nbsp</td>
<td>не більше 0,8</td>
<td>0,45</td>
<td>0,2</td>
</tr>
<tr>
<td>6</td>
<td>Відсоток рахунків, на які були отримані звернення від <br>споживачів щодо їх некоректності (неправильності)</td>
<td>%</td>
<td>не більше 1</td>
<td>не більше 1</td>
<td>0,04</td>
</tr>
<tr>
<td>7</td>
<td>Відсоток звернень щодо організаційних<br> аспектів обслуговування</td>
<td>%</td>
<td>не більше 1</td>
<td>не більше 1</td>
<td>0,02</td>
</tr>
<tr>
<td>8</td>
<td>Відсоток звернень щодо технічних <br>аспектів обслуговування</td>
<td>%</td>
<td>не більше 1</td>
<td>не більше 1</td>
<td>0,3</td>
</tr>
<tr>
<td>9</td>
<td>Відсоток неуспішних викликів для міжміських викликів</td>
<td>%</td>
<td>не більше 10</td>
<td>не більше 10</td>
<td>0,61</td>
</tr>
<tr>
<td>10</td>
<td>Відсоток неуспішних викликів для місцевих викликів</td>
<td>%</td>
<td>не більше 5</td>
<td>не більше 5</td>
<td>0,36</td>
</tr>
<tr>
<td>11</td>
<td>Відсоток викликів, які відповідають нормам за часом<br> завершення виклику для міжміських викликів</td>
<td>%</td>
<td>не менше 90</td>
<td>не менше 90</td>
<td>97,28</td>
</tr>
<tr>
<td>12</td>
<td>Відсоток викликів, які відповідають нормам за часом <br>завершення виклику для місцевих викликів</td>
<td>%</td>
<td>не менше 85</td>
<td>не менше 85</td>
<td>99,64</td>
</tr>
<tr>
<td>13</td>
<td>Відсоток неуспішних викликів для місцевих викликів<br> до служб екстренное допомоги (СЕД)</td>
<td>%</td>
<td>не більше 5</td>
<td>не більше 5</td>
<td>1,02</td>
</tr>
<tr>
<td>14</td>
<td>Відсоток з#39;єднаннь, що відповідають нормам <br>за якістю передачі мовної інформації, для методів <br> оцінки за автоматичним методом вимірювання <br> якості передачі мови</td>
<td>%</td>
<td>не менше 85</td>
<td>не менше 85</td>
<td>100</td>
</tr>
<tr class="section">
    <td>Послуги доступу до Інтернету:</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
<td>1</td>
<td>Нормований час усунення пошкодженнь телекомунікаційної <br> мережі та відновлення доступу до послуг зі <br> встановленими значеннями показників якості</td>
<td>години</td>
<td>не більше як одна доба</td>
<td>не більше як одна доба</td>
<td>20</td>
</tr>
<tr>
<td>2</td>
<td>Відсоток рахунків, на які були отримані звернення від <br>споживачів щодо їх некоректності (неправильності)</td>
<td>%</td>
<td>не більше 1%</td>
<td>не більше 1%</td>
<td>0,12</td>
</tr>
<tr>
<td>3</td>
<td>Відсоток звернень щодо організаційних аспектів <br> обслуговування</td>
<td>%</td>
<td>не більше 1%</td>
<td>не більше 1%</td>
<td>0,10</td>
</tr>
<tr>
<td>4</td>
<td>Відсоток рахунків щодо технічних аспектів обслуговування <br> оцінки за автоматичним методом вимірювання <br> якості передачі мови</td>
<td>%</td>
<td>не більше 1%</td>
<td>не більше 1%	</td>
<td>0,67</td>
</tr>
<tr>
<td>5</td>
<td>Відсоток реєстрацій, які відповідають нормам за <br> часом реєстрацій в мережі, для послуг із передачі даних</td>
<td>%</td>
<td>не менше 90%</td>
<td>не менше 90%</td>
<td>Технологією не <br> передбачено</td>
</tr>
<tr>
<td>6</td>
<td>Відсоток незадовільних з'єднань за швидкістю <br>передачі даних для послуг із передачі даних</td>
<td>%</td>
<td>не більше 10%</td>
<td>не більше 10%</td>
<td>0</td>
</tr>
<tr>
<td>7</td>
<td>Відсоток успішних реєстрацій у мережі для <br> послуг із передачі даних та доступу <br> до Інтернету</td>
<td>%</td>
<td>не менше 90%</td>
<td>не менше 90%</td>
<td>Технологією не <br>передбачено</td>
</tr>
<tr>
<td>8</td>
<td>Відсоток відмов для послуг із передачі даних <br>та доступу до Інтернету</td>
<td>%</td>
<td>не більше 10%</td>
<td>не більше 10%</td>
<td>0</td>
</tr>
</tbody>
</table>
</div>