<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <menusip></menusip>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 ">
            <h2>SIP-ПОСЛУГА </h2>
            <div class="sip">
        <p> <b>Послуга  "SIP-телефонія" </b>дає можливість здійснювати дзвінки за технологією SIP 
           (Session Initiation Protocol) звідусіль, де є доступ до мережі Інтернет, будь то 
           мобільний Інтернет хорошої якості, бездротова мережа Wi-Fi або наземний цифровий канал.</p>
           <p>Замовляючи у <b>ТОВ«УКРКОМ» Послугу  "SIP-телефонія"</b>, Ви отримуєте в користування прямий
                київський номер, який прив'язується не до місця його фізичного підключення, як у 
                звичайних номерів, а до Вашого терміналу, тобто він може працювати у Вас вдома, на 
                роботі, в дорозі і на відпочинку – скрізь, де є можливість користуватися доступом до 
                мережі Інтернет достатньої якості. Всі дзвінки тарифікуються однаково, незалежно від 
                того, де Ви знаходитесь на даний момент. Ділові люди напевно оцінять можливість організації
                 корпоративної телефонної мережі, абоненти якої можуть знаходитись на різних майданчиках,
                в різних містах і країнах. Дзвінки можна здійснювати, використовуючи стаціонарний SIP-телефон,
                комп'ютер, ноутбук, комунікатор (смартфон), планшет, пристрої iOS, Android, або звичайний 
                стаціонарний телефон з SIP-адаптером.</p>
                <div class="image">
                    <img src="assets/images/sip.jpg">
                </div>
                <h5>Як це працює</h5>
            <ol>
                <li>Якщо Ви користуєтеся SIP-телефонією з використанням комп'ютера, ноутбука або мобільного 
                    телефону, то на них треба встановити спеціальне програмне забезпечення (ПО) або використовувати
                     вбудовані програми.</li>
                <li>Після виконання відповідних налаштувань на Вашому терміналі або SIP-телефоні (адапторі),
                     Ви можете користуватися Послугою. Щоб здійснити дзвінок, Ви просто набираєте на Вашому пристрої
                     телефонний номер точно так само, як якщо б Ви користувалися звичайним телефонним апаратом.</li>
            </ol>
            <h5>Важливо розуміти</h5>
            <ul>
                <li>Для отримання якісного зв'язку необхідний доступ до мережі Інтернет з мінімальною швидкістю 90 Кбіт/с,
                     що, як правило, не завжди можливо при користуванні мобільними мережами з застарілими стандартами, а 
                     також у місцях надання безкоштовних публічних сервісів доступу до Інтернет. Голосовий трафік не створює
                    таких потоків даних, але для досягнення комфортних якісних показників зв'язку, необхідно орієнтуватися
                    на зазначені вище параметри.</li>
                    <li>Деякі провайдери або власники мереж можуть навмисно блокувати протоколи мережі IP/Ethernet, які
                     використовуються при організації доступу до Послуги SIP-телефонії. Це робить неможливим реєстрацію
                     терміналу клієнта на нашому сервері з таких мереж, або встановлення розмовного каналу, що в сукупності
                     перешкоджає користування Послугою навіть при наявності доступу до мережі Інтернет.</li>
                     <li>Для перевірки рівня якості Послуги, ми надаємо можливість її тестування перед першим платежем.</li>
            </ul>
            <h5>Переваги Послуги:</h5>
            <ul>
                <li>Можливість надання телефонного зв'язку в тих місцях, де немає технічної можливості підключення до міської
                 телефонної мережі, але є доступ до Інтернет достатньої якості;</li>
                 <li>Друзям, рідним і колегам, для постійного спілкування з Вами, незалежно від того, де Ви знаходитесь – на 
                    роботі, у відрядженні, відпустці або вдома, достатньо знати тільки один Ваш київський міський телефонний номер;</li>
                 <li>Ви можете легко перенести всі SIP-номери у разі переїзду Вашого офісу на іншу адресу і навіть в інше місто або країну;</li>
                 <li>Незмінні SIP-номер та тарифи, в якій країні Ви б не знаходилися;</li>
                 <li>Ви не сплачуєте за роумінг</li>
                 <li>Оплата за Послугу здійснюється банківською карткою Visa або MasterCard-через on-line системи миттєвих електронних платежів 
                     в Інтернет – iPay.ua, liqPay.com, або платіжні термінали IBOX;</li>
                 <li>Користування SIP-номером на смартфоні не залежить від оператора мобільного зв'язку</li>
                 <li>Дзвінки на SIP-номер з використанням будь-якого мобільного телефону тарифікуються за тарифами доступу на місцеву фіксовану мережу.</li>

            </ul>
            <h3> Стаціонарний телефон тепер завжди з Вами!</h3>
    </div>
    </div>
</div>