
<div class="dropdown">
  <button class="btn btn-success dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Выберіть меню
  <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
    <li role="presentation"><a role="menuitem" routerLink="/map" routerLinkActive="active" >Карта мережі</a></li>
    <li role="presentation"><a role="menuitem" routerLink="/partner" routerLinkActive="active">Партнери</a></li>
    <li role="presentation"><a role="menuitem" routerLink="/license" routerLinkActive="active">Ліцензія</a></li>
    <li role="presentation"><a role="menuitem" routerLink="/vacancy" routerLinkActive="active">Вакансії</a></li>
    <li role="presentation"><a role="menuitem" routerLink="/quality" routerLinkActive="active">Якість</a></li>
    <li role="presentation"><a role="menuitem" routerLink="/news" routerLinkActive="active">Новини</a></li>
  </ul>
</div>