<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <h2>Точки доступа для BRANCH OFFICES</h2>
        <h4>Alcatel-Lucent OmniAccess 5510 Unified Services Gateway (USG)</h4>
        <p>Маршрутизатор симейства Alcatel-Lucent OmniAccess 5510 Unified Services Gateway (USG) обеспечивает безопасное высокоскоростное проводное
           соединение для передачи голоса и данных для маленьких офисов.Компактный, доступный по цене с фиксированной конфигурацией, OmniAccess 5510
           USG обеспечивает WAN подключение, маршрутизацию, комплексную безопасность, передачу голоса по IP, видео и данные в маленький офис, филиал.
           Его программная платформа спроектирована на модульной основе и имеет несравнимый уровень работоспособности и надёжности.
           Маршрутизатор семейства Alcatel-Lucent OmniAccess 5510 Unified Services Gateway (USG) обеспечивает безопасное высокоскоростное 
           проводное соединение для передачи голоса и данных для маленьких офисов. Компактный, доступный по цене с фиксированной конфигурацией,
           OmniAccess 5510 USG обеспечивает WAN подключение, маршрутизацию, комплексную безопасность, передачу голоса по IP, видео и данные в маленький
           офис, филиал. Его программная платформа спроектирована на модульной основе и имеет несравнимый уровень работоспособности и надёжности.</p>
           <h5>OmniAccess 5510 USG предоставляет полный набор услуг необходимых для филиала:</h5>
           <ul>
               <li><b>Сеть:</b> маршрутизация, коммутация и качество сервисов (QoS)</li>
               <li><b>Безопасность:</b> Firewall , определение и предотвращение вторжений (IDS/IPS) и (VPN)</li>
               <li><b>Голос:</b> SIP/IP Touch Application Level Gateway (ALG), локально встроенный call manager, all Admission Control (CAC),</li>
               <li><b>Сетевые сервисы:</b> name system (DNS), Dynamic host configuration protocol (DHCP), Radius, TACACS+</li>
               <li><b>Управление:</b> унифицированный интерфейс для управления всеми сервисами.</li>
           </ul>
           <h5>OmniAccess 5510 USG является дополнением к OmniAccess USG маршрутизатор и доступен в четырех моделях:</h5>
           <ul>
               <li>OmniAccess 5510-TE (интегрированный в один порт T1/E1 WAN-интерфейс)</li>
               <li>OmniAccess 5510-SR (интегрированный в один порт WAN интерфейса (X.21, V.35, RS-232 интерфейсов, вплоть до 2 Мбит/с))</li>
               <li>OmniAccess 5510-AA (интегрированный в один ADSL2 + с приложением A WAN интерфейса (ADSL через POTS))</li>
               <li>OmniAccess 5510-AB (интегрированный в один порт ADSL 2 + с приложением B WAN интерфейса (ADSL через ISDN)</li>
           </ul>
           <h5>Каждая модель поставляется со следующими интерфейсами и аппаратными возможностями:</h5>
           <ul>
               <li>Один интегрированный интерфейс WAN - типы меняются в зависимости от модели</li>
               <li>Четыре порта 10/100 switched RJ-45 Ethernet LAN</li>
               <li>Один порт 10/100 routed RJ-45 Ethernet LAN, который может использоваться как Ethernet WAN</li>
               <li>Поддержка электро-питания AC/DC</li>
               <li>Один порт USB 2.0</li>
               <li>Настольный стиль (блок на резиновых ножках), возможна опция монтажа в стойку.</li>
               <li>Низкое энергопотребление «green design»</li>
           </ul>
           <h5>Преимущества:</h5>
           <ul>
               <li>Гибкость при выборе Т1/Е1, XDSL, Ethernet WAN интерфейсов</li>
               <li>Различный форм-фактор оборудования - настольный вариант, half-rack</li>
               <li>Гибкие технические и сервисные возможности</li>
               <li>Глобальная обработка пакетов и объединение их в один поток</li>
               <li>Отказоустойчивость, маршрутизация вызовов по PSTN при отказе WAN подключения</li>
               <li>Низкая стоимость введения в эксплуатацию</li>
           </ul>

    </div>

</div>