<div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <menusip></menusip>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 ">
                <h2>Налаштування обладнання </h2>
                <div class="all">
                    <div class="windows">
                        <h5>Налаштування пристроїв на Windows</h5>
                        <img src="assets/images/fordevice/Windows.png"> <i>Windows</i>
                    </div>
                    <h5>Налаштування пристроїв на Android</h5>
                    <div class="android">
                       <img src="assets/images/fordevice/Android.png"><i>Android</i>
                       <p>Безкоштовні</p>
                       <ul>
                      <li><a href="https://market.android.com/details?id=com.media5corp.m5f.Media5fone">Налаштування SIP-клієнта Media5fcp one</a> <i>Скачати файлом PDF:</i> <a href="assets/doca/Настройка SIP-клиента Media5fone.pdf">Документація</a></li>
                      <li><a href="https://play.google.com/store/apps/details?id=org.sipdroid.sipua&amp;hl=ru">Налаштування SIP-клієнта SipDroid</a> <i>Скачати файлом PDF:</i> <a href="assets/doca/Настройка SIP-клиента SipDroid.pdf">Документація</a></li>
                      <li><a href="https://play.google.com/store/apps/details?id=com.csipsimple&amp;hl=ru">Налаштування SIP-клієнта CSipSimple</a> <i>Скачати файлом PDF:</i> <a href="assets/doca/Настройка SIP-клиента CSipSimple.pdf">Документація</a></li>
                      <li><a href="https://play.google.com/store/apps/details?id=com.zoiper.android.app">Налаштування SIP-клієнта ZoIPer</a> <i>Скачати файлом PDF:</i> <a href="assets/doca/Настройка SIP-клиента ZoIPer.pdf">Документація</a></li>
                      <li><a href="https://play.google.com/store/apps/details?id=com.mobilesoftphone4">Налаштування SIP-клієнта Adore Softphone</a> <i>Скачати файлом PDF:</i> <a href="assets/doca/Настройка SIP-клиента Adore Softphone.pdf">Документація</a></li>
                      <li>Налаштування вбудованого SIP-клієнта Android (починаючи з версії 2.3) <i>Скачати файлом PDF:</i> <a href="assets/doca/Настройка встроенного SIP-клиента Android (начиная с версии 2.pdf">Документація</a></li>

                       </ul>
                       <p>Платні</p>
                       <ul>
                            <li>Налаштування SIP-клієнта  <a href="https://play.google.com/store/apps/details?id=cz.acrobits.softphone.alien">Acrobits Softphone</a></li>
                            <li>Налаштування SIP-клієнта  <a href="https://play.google.com/store/apps/details?id=cz.acrobits.softphone.aliengroundwire">Groundwire</a></li>
                       </ul>
                    </div>
                    <h5>Налаштування пристроїв на IOS</h5>
                    <div class="ios">
                        <img src="assets/images/fordevice/Ios-logo.png"><i>IOS</i>
                        <ul>
                            <li>Налаштування SIP-клієнта ZoIPer <i>Скачати файлом PDF:</i> <a href="assets/doca/Настройка SIP-клиента ZoIPer.pdf">Документація</a></li>
                            <li>Налаштування SIP-клієнта Media5fone<i>Скачати файлом PDF:</i> <a href="assets/doca/Настройка SIP-клиента Media5fone.pdf">Документація</a></li>
                            <li>Налаштування SIP-клієнта Join softphone<i>Скачати файлом PDF:</i> <a href="assets/doca/Join softphone.pdf">Документація</a></li>
                            <li>Налаштування SIP-клієнта Adore Softphone<i>Скачати файлом PDF:</i> <a href="assets/doca/Настройка SIP-клиента Adore Softphone.pdf">Документація</a></li>
                            <li>Налаштування SIP-клієнта SipFone<i>Скачати файлом PDF:</i> <a href="assets/doca/SipFone.pdf">Документація</a></li>
                            <li>Налаштування SIP-клієнта SessionChat<i>Скачати файлом PDF:</i> <a href="assets/doca/SessionChat.pdf">Документація</a></li>
                            <li>Налаштування SIP-клієнта 3CXPhone<i>Скачати файлом PDF:</i> <a href="assets/doca/3CXPhone - VoIP _ SIP Softphone.pdf">Документація</a></li>
                            <li>Налаштування SIP-клієнта Bria<i>Скачати файлом PDF:</i> <a href="assets/doca/Bria - VoIP SIP Phone.pdf">Документація</a></li>
                        </ul>
                    </div>
                    <h5>Налаштування пристроїв на Linux</h5>
                    <img src="assets/images/fordevice/Linuxs.png"><i>Linux</i>
                </div>
               
        </div>
    </div>