<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        
    </div>
    <div class="col-xs-1- col-sm-10 col-md-10 col-lg-10">
        <div class="alldevice">    
        <div class="device">
            <h3>Office</h3>
            <h5>від 5 до 236 абонентів</h5>
            <img src="assets/images/device/Office-L.jpg">
        </div>
        <div class="device">
                <h3>BICS</h3>
                <h5>від 5 до 1000 абонентів</h5>
                <img src="assets/images/device/BICS-L.jpg">
        </div>
            <div class="device">
                <h3>Enterprise</h3>
                <h5>від 5 до 100 000 абонентів</h5>
                <img src="assets/images/device/Enterprise-L.jpg">
            </div>
          </div>
            <ul>
            <li> Alcatel-Lucent OmniPCX Office    <a routerLink="/omnipcx" routerLinkActive="active">ознайомитись</a></li>
            <li>Точки доступу для BRANCH OFFICES   <a routerLink="/branch" routerLinkActive="active"> ознайомитись</a></li>
            <li>Metropolis® EON                     <a routerLink="/metropolis" routerLinkActive="active"> ознайомитись</a></li>
            </ul>
            
       </div>
       <router-outlet></router-outlet> 
</div>