<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 menu">
            <menudata></menudata>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 info">
        <div class="">
        <h4>Список серверів</h4>
        <ul>
            <li>Сервер для відправки повідомлень електронної пошти SMTP: <b>relay.ukrhub.net</b> </li>
            <li>Максимальний розмір e-mail для прийому/відправки: 6 Мb</li>
            <li>Сервер прийому електронної пошти POP3:<b>pop3.ukrhub.net</b> </li>
            <li>DNS:<b>ns.ukrhub.net (212.90.160.2), ns2.ukrhub.net (212.90.160.8)</b> </li>
        </ul>
        <h4>Контактні дані</h4>
        <ul>
            <li>Email для технічних питань щодо роботи DNS: <b>hostmaster (at) ukrhub.net</b> </li>
            <li>Email для технічних питань щодо роботи електронної пошти: <b>postmaster (at) ukrhub.net</b></li>
            <li>Email для загальних технічних питань: <b>noc (at) ukrhub.net</b></li>
        </ul>
    </div>
    </div>
</div>