<div class="dropdown">
    <button class="btn btn-success dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Выберіть меню
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a role="menuitem" routerLink="/decision" routerLinkActive="active" >Продукти</a></li>
      <li role="presentation"><a role="menuitem" routerLink="/" routerLinkActive="active"></a></li>
      <li role="presentation"><a role="menuitem" routerLink="/" routerLinkActive="active"></a></li>
      <li role="presentation"><a role="menuitem" routerLink="/" routerLinkActive="active"></a></li>
      <li role="presentation"><a role="menuitem" routerLink="/" routerLinkActive="active"></a></li>
      <li role="presentation"><a role="menuitem" routerLink="/" routerLinkActive="active"></a></li>
    </ul>
  </div>