<div class="row">
    <div class="col-xs-2 col=sm-2 col-md-2 col-lg-2 menu">
        <menudata></menudata>
    </div>
    <div class="col-xs-10 col=sm-10 col-md-10 col-lg-10">
        <div class="leased">
            <h4>Доступ до мережі по виділеному каналу</h4>
            <p>Ми пропонуємо оптимальне рішення для Вашої компанії - постійний доступ в Інтернет по виділеному каналу. Це ідеальний спосіб інформаційного обміну з партнерами, постачальниками і клієнтами, оперативний доступ до фінансової, ділової та законодавчої інформації із світових джерел.В цьому разі Ви стаєте власником 100%-го вузла Інтернет, з можливістю установки у себе WWW-, FTP, Mail - та ін серверів для вирішення своїх  інформаційних завдань.</p><br>
            <p>Для доступу в Інтернет по виділеному каналу необхідно організувати фізичний канал зв'язку між Вашим офісом і найближчим вузлом комутації пакетів мережі УКРКОМ (т.з. "остання миля"). На організацію каналу необхідні разові витрати, а на експлуатацію - щомісячні. Щомісячна оплата постійного доступу в Інтернет по виділеному каналу складається з двох складових: "канальної" і "доступу в Інтернет":</p><br>
            <h4>Разовий платіж</h4>
            <p>Підключення = організація каналу (т.з. "остання миля") + Підключення до порту вузла Інтернет</p><br>
            <h4>Щомісячний платіж</h4>
            <P>Абонентська плата = Абонентська плата за канал (т.з. "остання миля") + оплата безлімітного доступу до Інтернет на замовленій швидкості</P><br>
            <h4>Маючи постійний високошвидкісний доступ до Інтернет, Ви отримуєте наступні переваги:</h4>
            <ul>
                <li>Конфіденційність обміну інформацією;</li>
                <li>Електронна пошта в реальному часі;</li>
                <li>Оперативний доступ до фінансової, ділової і законодавчої інформації;</li>
                <li>Якість і надійність послуг;</li>
                <li>Вільна телефонна лінія;</li>
                <li>Відсутність щохвилинної оплати за заняття телефонної лінії</li>
            </ul>
        </div>
    </div>

</div>