<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <h2>Metropolis® EON</h2>
        <p>Metropolis® EON — 32-канальная система DWDM, обеспечивающая скорость передачи до 320 Гбит/с по одному
           оптическому волокну. При низкой стоимости начального развертывания, возможности использования защищенных 
           и незащищенных каналов и быстром внедрении услуг система Metropolis® EON является экономичным и 
           высокомасштабируемым решением для кольцевых городских и региональных сетей.</p>
           <p>Эта жеплатформа может использоваться для соединения оптических колец с использованием транспортных 
               функций дальнего радиуса действия. Система поддерживает стандартные операционные интерфейсы и может 
               устанавливаться в уже действующих и вновь прокладываемых кабельных системах. Система построена на 
               базе платформы WaveStar® OLS 40G/80G.</p>
               <h5>Применение</h5>
        <ul>
            <li>Мультиплексор ввода-вывода.</li>
            <li>Сети доступа, городские и региональные сети.</li>
            <li>Расширение сетей хранения данных.</li>
            <li>Увеличение емкости волоконно-оптических сетей.</li>
        </ul>
                <h5>Гибкость</h5>
        <ul>
            <li>Гибкие варианты инжиниринга снижают потребность втранспондерах и усилителях.</li>
        </ul>
                <h5>Надежность</h5>
        <ul>
            <li>Сквозное управление (совместимость с OSMINE, TL1, TCP/IP).</li>
            <li>Скорость коммутации менее 50 мсек.</li>
            <li>Исключение транспондеров при прямом оптическом подключении к аппаратуре Lucent TDM.</li>
        </ul>
                <h5>Поддерживаемые топологии</h5>
        <ul>
            <li>Кольцо.</li>
            <li>Точка-точка.</li>
            <li>Логическая ячеистая сеть.</li>
        </ul>

                <h5>Емкость</h5>
        <ul>
            <li>32 защищенных канала.</li>
            <li>64 незащищенных канала.</li>
        </ul>

    </div>

</div>