<div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <menuphone></menuphone>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 samericacode">
            <h1>Телефонні коди країн Азії</h1>
            <h3>Східна Азія</h3>
                <table class="redTable">
                        <thead>
                        <tr>
                        <th>Країна</th>
                        <th>Код</th>
                        
                        </tr>
                        </thead>
                        
                        <tbody>
                        <tr>
                        <td>Бангладеш</td>
                        <td>880</td>
                        
                        </tr>
                        <tr>
                        <td>Бруней</td>
                        <td>673</td>
                        
                        </tr>
                        <tr>
                        <td>Бутан</td>
                        <td>975</td>
                        
                        </tr>
                        <tr>
                        <td>Вьєтнам</td>
                        <td>84</td>
                        
                        </tr>
                        <tr>
                        <td>Гонконг</td>
                        <td>852</td>             
                        </tr>
                        <tr>
                        <td>Індонезія</td>
                        <td>62</td>             
                         </tr>
                         <tr>
                        <td>Камбоджа</td>
                        <td>855</td>             
                        </tr>
                        <tr>
                        <td>Китай</td>
                        <td>86</td>             
                        </tr>
                        <tr>
                        <td>Корея півд.</td>
                        <td>82</td>             
                        </tr>
                        <tr>
                        <td>Корея півн.</td>
                        <td>850</td>             
                        </tr>
                        <tr>
                        <td>Лаос</td>
                        <td>856</td>             
                        </tr>
                        <tr>
                        <td>Макау</td>
                        <td>853</td>             
                        </tr>
                        <tr>
                        <td>Малайзія</td>
                        <td>60</td>             
                        </tr>
                        <tr>
                        <td>Монголія</td>
                        <td>976</td>             
                        </tr>
                        <tr>
                        <td>Мянма</td>
                        <td>95</td>             
                        </tr>
                        <tr>
                        <td>Непал</td>
                        <td>977</td>             
                        </tr>
                        <tr>
                        <td>Папуа-Нова-Гвінея</td>
                        <td>675</td>             
                        </tr>
                        <tr>
                        <td>Сінгапур</td>
                        <td>65</td>             
                        </tr>
                        <tr>
                        <td>Таїланд</td>
                        <td>66</td>             
                        </tr>
                        <tr>
                        <td>Тайвань</td>
                        <td>886</td>             
                        </tr>
                        <tr>
                        <td>Філіпіни</td>
                        <td>63</td>             
                        </tr>
                        <tr>
                        <td>Японія</td>
                        <td>81</td>             
                        </tr>
                        
                        </tbody>
                </table>
                <br>
                        <h3>Західна/Центральна Азія</h3>

                        <table class="redTable">
                                <thead>
                                <tr>
                                <th>Країна</th>
                                <th>Код</th>
                                
                                </tr>
                                </thead>
                                
                                <tbody>
                                <tr>
                                <td>Афганістан</td>
                                <td>93</td>
                                
                                </tr>
                                <tr>
                                <td>Бахрейн</td>
                                <td>973</td>
                                
                                </tr>
                                <tr>
                                <td>Дієго-Гарсія</td>
                                <td>246</td>
                                
                                </tr>
                                <tr>
                                <td>Йеменська Арабська республіка</td>
                                <td>967</td>
                                
                                </tr>
                                <tr>
                                <td>Ізраїль</td>
                                <td>972</td>             
                                </tr>
                                <tr>
                                <td>Іорданія</td>
                                <td>962</td>             
                                 </tr>
                                 <tr>
                                <td>Ірак</td>
                                <td>964</td>             
                                </tr>
                                <tr>
                                <td>Індія</td>
                                <td>91</td>             
                                </tr>
                                <tr>
                                <td>Іран</td>
                                <td>98</td>             
                                </tr>
                                <tr>
                                <td>Кіпр</td>
                                <td>357</td>             
                                </tr>
                                <tr>
                                <td>Ката</td>
                                <td>974</td>             
                                </tr>
                                <tr>
                                <td>Кувейт</td>
                                <td>965</td>             
                                </tr>
                                <tr>
                                <td>Ліван</td>
                                <td>961</td>             
                                </tr>
                                <tr>
                                <td>Мальдіви</td>
                                <td>960</td>             
                                </tr>
                                <tr>
                                <td>Наблус(Палестина)</td>
                                <td>97292(33,37,38,39)</td>             
                                </tr>
                                <tr>
                                <td>Об'эднані Арабські Емірати</td>
                                <td>971</td>             
                                </tr>
                                <tr>
                                <td>Оман</td>
                                <td>968</td>             
                                </tr>
                                <tr>
                                <td>Пакистан</td>
                                <td>92</td>             
                                </tr>
                                <tr>
                                <td>Палестина/td>
                                <td>970</td>             
                                </tr>
                                <tr>
                                <td>Саудівська Аравія</td>
                                <td>966</td>             
                                </tr>
                                <tr>
                                <td>Сирія</td>
                                <td>963</td>             
                                </tr>
                                <tr>
                                <td>Туреччина</td>
                                <td>90</td>             
                                </tr>
                                <tr>
                                <td>Шрі-Ланка</td>
                                <td>94</td>             
                                </tr>
                        </tbody>
                        </table>
        </div>
        </div>