<div class="row">
    <div class=" col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <h2>Контакти</h2>
        <div class="total">   
            <h4>ТОВ "УКРКОМ"</h4>
            <p>04119, Україна, м.Київ,</p>
            <p>вул. С. Хохлових 15, 3 поверх</p>
            <p>тел. +38 (044) 205-55-55 (багатоканальний)</p>
            <p>факс. +38 (044) 205-55-25</p>
        </div>
        <div class="sales">
           
            <h5>Відділ продажу послуг:</h5>
            <div class="names">
            <div class="irina">
                <p>(044)205-55-42 Ірина</p>
                <a href="mailto:irina@ukr-com.net">irina@ukr-com.net</a>
            </div>
            <div class="vitaly">
                <p>(044)205-55-43 Віталій</p>
                <a href="mailto:sip@ukr-com.net">sip@ukr-com.net</a>
            </div>
            <div class="alex">
                <p>(044)205-55-47 Олексій</p>
                <a href="a.semenov@ukr-com.net">a.semenov@ukr-com.net</a>
            </div>
        </div>
        </div>
        <div class="device">
            <h5>Відділ продажу обладнання зв`язку:</h5>
            <p>(044)205-55-90</p>
        </div>
        <div class="lks">
            <h5>Відділ продажу обладнання для ЛКС:</h5>
            <p>(044)205-55-53</p>
        </div>
        <div class="abon">
            <h5>Відділ по роботі з абонентами:</h5>
            <p>(044)205-55-88</p>
        </div>
    </div>
</div>