<div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <menuphone></menuphone>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 europecode">
            <h1>Телефонні коди Європи</h1>
            <h3>Східна Європа</h3>
                <table class="redTable">
                        <thead>
                        <tr>
                        <th>Країна</th>
                        <th>Код</th>
                        
                        </tr>
                        </thead>
                        
                        <tbody>
                        <tr>
                        <td>Албанія</td>
                        <td>355</td>
                        
                        </tr>
                        <tr>
                        <td>Болгарія</td>
                        <td>359</td>
                        
                        </tr>
                        <tr>
                        <td>Боснія та Герцоговина</td>
                        <td>387</td>                
                        </tr>
                        <tr>
                        <td>Естонія</td>
                        <td>372</td>                
                        </tr>
                        <tr>
                        <td>Латвія</td>
                        <td>371</td>
                        
                        </tr>
                        <tr>
                        <td>Литва</td>
                        <td>370</td>             
                        </tr>
                        <tr>
                        <td>Македонія</td>
                        <td>389</td>             
                         </tr>
                         <tr>
                        <td>Польща</td>
                        <td>48</td>             
                        </tr>
                        <tr>
                        <td>Румунія</td>
                        <td>40</td>             
                        </tr>
                        <tr>
                        <td>Сербія</td>
                        <td>381</td>             
                        </tr>
                        <tr>
                        <td>Словенія</td>
                        <td>386</td>             
                        </tr>
                        <tr>
                        <td>Угорщина</td>
                        <td>36</td>             
                        </tr>
                        <tr>
                        <td>Хорватія</td>
                        <td>385</td>             
                        </tr>
                        <tr>
                        <td>Чехія</td>
                        <td>420</td>             
                        </tr>
                        <tr>
                        <td>Чорногорія</td>
                        <td>388</td>             
                        </tr>
                                            
                        </tbody>
                        </table>
                        <h3>Центральна/Північна Європа</h3>
                        <table class="redTable">
                                <thead>
                                <tr>
                                <th>Країна</th>
                                <th>Код</th>
                                
                                </tr>
                                </thead>
                                
                                <tbody>
                                <tr>
                                <td>Австрія</td>
                                <td>43</td>
                                
                                </tr>
                                <tr>
                                <td>Греція</td>
                                <td>30</td>
                                
                                </tr>
                                <tr>
                                <td>Данія</td>
                                <td>45</td>                
                                </tr>
                                <tr>
                                <td>Кіпр</td>
                                <td>&#10157;</td>                
                                </tr>
                                <tr>
                                <td>Ліхтенштейн</td>
                                <td>423</td>
                                
                                </tr>
                                <tr>
                                <td>Німеччина</td>
                                <td>49</td>             
                                </tr>
                                <tr>
                                <td>Норвегія</td>
                                <td>47</td>             
                                 </tr>
                                 <tr>
                                <td>Фінляндія</td>
                                <td>358</td>             
                                </tr>
                                <tr>
                                <td>Щвейцарія</td>
                                <td>41</td>             
                                </tr>
                                <tr>
                                <td>Швеція</td>
                                <td>46</td>             
                                </tr>                               
                                </tbody>
                                </table>
                                <h3>Західна Європа</h3>
                                <table class="redTable">
                                        <thead>
                                        <tr>
                                        <th>Країна</th>
                                        <th>Код</th>
                                        
                                        </tr>
                                        </thead>
                                        
                                        <tbody>
                                        <tr>
                                        <td>Андора</td>
                                        <td>376</td>
                                        
                                        </tr>
                                        <tr>
                                        <td>Бельгія</td>
                                        <td>32</td>
                                        
                                        </tr>
                                        <tr>
                                        <td>Ватикан(Італія)</td>
                                        <td>&#10157;</td>                
                                        </tr>
                                        <tr>
                                        <td>Великобританія</td>
                                        <td>44</td>                
                                        </tr>
                                        <tr>
                                        <td>Гібралтар</td>
                                        <td>350</td>
                                        
                                        </tr>
                                        <tr>
                                        <td>Ірландія</td>
                                        <td>353</td>             
                                        </tr>
                                        <tr>
                                        <td>Ісландія</td>
                                        <td>354</td>             
                                         </tr>
                                         <tr>
                                        <td>Італія</td>
                                        <td>39</td>             
                                        </tr>
                                        <tr>
                                        <td>Канарські острови</td>
                                        <td>348</td>             
                                        </tr>
                                        <tr>
                                        <td>Люксембурн</td>
                                        <td>352</td>             
                                        </tr>
                                        <tr>
                                        <td>Мальта</td>
                                        <td>356</td>             
                                        </tr>
                                        <tr>
                                        <td>Монако</td>
                                        <td>377</td>             
                                        </tr>
                                        <tr>
                                        <td>Нідерланди</td>
                                        <td>31</td>             
                                        </tr>
                                        <tr>
                                        <td>Португалія</td>
                                        <td>351</td>             
                                        </tr>
                                        <tr>
                                        <td>Фарерські острови</td>
                                        <td>298</td>             
                                        </tr>
                                        <tr>
                                        <tr>
                                        <td>Франція</td>
                                        <td>33</td>             
                                        </tr>
                                                                             
                                        </tbody>
                                        </table>
        </div>
        </div>