<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <menuphone></menuphone>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 oceancode">
        <h1>Телефонні коди інших частин світу(Австралія,Океанія)</h1>
            <table class="redTable">
                    <thead>
                    <tr>
                    <th>Країна</th>
                    <th>Код</th>
                    
                    </tr>
                    </thead>
                    
                    <tbody>
                    <tr>
                    <td>Австралія</td>
                    <td>61</td>
                    
                    </tr>
                    <tr>
                    <td>Американські острови Самоа</td>
                    <td>684</td>
                    
                    </tr>
                    <tr>
                    <td>Антарктика</td>
                    <td>6721</td>                
                    </tr>
                    <tr>
                    <td>Валійські та Футунські острови</td>
                    <td>681</td>                
                    </tr>
                    <tr>
                    <td>Вануату</td>
                    <td>678</td>
                    
                    </tr>
                    <tr>
                    <td>Гуам</td>
                    <td>671</td>             
                    </tr>
                    <tr>
                    <td>Гуам</td>
                    <td>1671</td>             
                     </tr>
                     <tr>
                    <td>Кірібаті</td>
                    <td>686</td>             
                    </tr>
                    <tr>
                    <td>Кокосові острови</td>
                    <td>692(6189162)</td>             
                    </tr>
                    <tr>
                    <td>Кука острови</td>
                    <td>682</td>             
                    </tr>
                    <tr>
                    <td>Маршалові острови</td>
                    <td>692</td>             
                    </tr>
                    <tr>
                    <td>Мікронезія</td>
                    <td>691</td>             
                    </tr>
                    <tr>
                    <td>Науру</td>
                    <td>674</td>             
                    </tr>
                    <tr>
                    <td>Ніуе</td>
                    <td>683</td>             
                    </tr>
                    <tr>
                    <td>Нова Зеландія</td>
                    <td>64</td>             
                    </tr>
                    <tr>
                    <td>Нова Каледонія</td>
                    <td>687</td>             
                    </tr>
                    <tr>
                    <td>Норфолк</td>
                    <td>672(6723)</td>             
                    </tr>
                    <tr>
                    <td>Палау</td>
                    <td>680</td>             
                    </tr>
                    <tr>
                    <td>Пасхи острови</td>
                    <td>6724(6189164)</td>             
                    </tr>
                    <tr>
                    <td>Різдва острів</td>
                    <td>28</td>             
                    </tr>
                    <tr>
                    <td>Соломонові острови</td>
                    <td>677</td>             
                    </tr>
                    <tr>
                    <td>Східний Тимор</td>
                    <td>670</td>             
                    </tr>
                    <tr>
                    <td>Токелау</td>
                    <td>690</td>             
                    </tr>
                    <tr>
                    <td>Тонга</td>
                    <td>676</td>             
                    </tr>
                    <tr>
                    <td>Тувалу</td>
                    <td>688</td>             
                    </tr>
                    <tr>
                    <td>Фіджи</td>
                    <td>679</td>             
                    </tr>
                    <tr>
                    <td>Франзузська Полінезія</td>
                    <td>689</td>             
                    </tr>
                    
                    </tbody>
                    </table>
    </div>
    </div>