<div class="row">
    <div class="col-xs-2 col=sm-2 col-md-2 col-lg-2 menu">
        <menudatacentre></menudatacentre>
    </div>
    <div class="col-xs-10 col=sm-10 col-md-10 col-lg-10">
        <div class="infra">
            <h1>Інфраструктура</h1>
            <h4>Розташування дата-центру</h4>
            <ul>
                <li>У центральній частині Києва по вул. Гайдара, 50;</li>
                <li>Зручне транспортне сполучення і пішохідна доступність до крупних транспортних вузлів;</li>
                <li>У одній будівлі з місцем зосередження багатьох операторів і провайдерів.</li>
            </ul>
            <h4>Розташування обладнання (colocation)</h4>
            <ul>
                <li>Стандартні шафи 46 юнітів 600 х 1000 мм;</li>
                <li>Подача повітря – знизу і спереду (перфорация 60%);</li>
                <li>2 незалежних промені електроживлення в кожній шафі;</li>
                <li>Оплата спожитої електроенергії – по індивідуальному лічильнику. Ви платите лише за те, що реально споживаєте;</li>
                <li>Можливість розміщення нестандартних шаф;</li>
                <li>Мінімальний об'єм оренди – 5 юнітів;</li>
                <li>Фальшпол з антистатичним покриттям, додатковим екрануванням і посилений металевим аркушем знизу;</li>
                <li>Система екранування і зняття статичного потенціалу в повітряному потоці під фальшполом;</li>
                <li>Місце для роботи з устаткуванням при необхідності його тривалого налаштування або розбирання.</li>
            </ul>
            <h4>Енергопостачання</h4>
            <ul>
                <li>Загальна потужність 2 МВА;</li>
                <li>Незалежна вхідна потужність 2 х 1 МВА;</li>
                <li>Незалежні трансформатори ТП;</li>
                <li>Автоматична ДГУ;</li>
                <li>Запас палива 24 години;</li>
                <li>ИБП Liebert APM, модульна система резервування 2N+1;</li>
                <li>Мінімум 10 хвилин роботи від батарей ІБП при повному навантаженні;</li>
                <li>Автоматичний байпас ИБП;</li>
                <li>Інтелектуальна система видаленого моніторингу і управління устаткуванням Liebert IntelliSlot;</li>
                <li>Автоматичне введення резерву живлення (АВР);</li>
                <li>АВР з електромеханічними блокуваннями і перемиканням на статичних виконавчих механізмах – відсутність вірогідності залипання контактів <br> і підгорання контакторів та захист від помилок персоналу;</li>
                <li>Розподільні пристрої низької напруги з незалежним захистом кожного променя і ручним статичним байпасом, з можливістю перемикання двох <br> шин живлення;</li>
                <li>Незалежна від заземлення ТП система робочого і захисного заземлення – 2 об'єднаних шиною рознесених свердловини завглибшки 68 і 76 метрів;</li>
                <li>Просторове розділення кабелів живлення і слабкострумових мереж.</li>
            </ul>
            <h4>Охолодження</h4>
            <ul>
                <li>Прецизійні сухі кондиціонери Liebert HPM з плавним електронним регулюванням продуктивності з резервуванням N+1;</li>
                <li>Інтелектуальна система видаленого централізованого моніторингу і управління устаткуванням Liebert Intellislot;</li>
                <li>Відсутність циркуляційної води під натиском в серверному приміщенні.</li>
            </ul>
            <h4>Пожежогасіння</h4>
            <ul>
                <li>Система газового об'ємного пожежогасіння;</li>
                <li>Рівномірне розподілене розміщення балонів в залі і під фальшполом;</li>
                <li>Відсутність газових магістралей, гребінок, розподільників та інших елементів, що знижують надійність спрацьовування і подачі газу на гасіння;</li>
                <li>Високочутлива система раннього виявлення диму VESDA;</li>
                <li>Вогнестійкість огороджувальних конструкцій – не менше 2-х годин;</li>
                <li>СКС виконана негорючим кабелем;</li>
                <li>Протипожежні двері всіх входів.</li>
            </ul>
            <h4>Підключення</h4>
            <ul>
                <li>Повний комплекс телекомунікаційних послуг від оператора ООО «УКРКОМ» на пільгових умовах;</li>
                <li>Вільний вибір будь-якого постачальника послуг;</li>
                <li>Підключення оптичними (Single Mode) або мідними (Cat 6) інтерфейсами;</li>
                <li>Незалежні рознесені кабельні вводи в будівлю;</li>
                <li>Окреме кросове приміщення для з'єднання з постачальниками послуг;</li>
                <li>Готові оптичні магістралі для підключення на майданчиках Гайдаря, 50 і на Леонтовича, 9;</li>
                <li>Можливість підключення потоків Е1 (G.703);</li>
                <li>Надання в оренду каналів і потоків по Києву і Україні.</li>
            </ul>
            <h4>Безпека</h4>
            <ul>
                <li>Фізична охорона забезпечується провідними охоронними фірмами;</li>
                <li>Централізована система забезпечення безпеки;</li>
                <li>Можливість видаленого моніторингу орендованих шаф (устаткування за запитом);</li>
                <li>Повний огляд всіх приміщень, підходів до них, шаф і прилеглої території системами відеоспостереження CCTV (2 незалежних системи);</li>
                <li>Зберігання записів всіх камер 10 діб;</li>
                <li>Виведення картинок на монітори персоналу охорони і загального центру управління мережею УКРКОМ;</li>
                <li>Моніторинг охоронюваного простору датчиками руху;</li>
                <li>Металеві протипожежні двері посиленого типу;</li>
                <li>Блокування всіх дверей електричними замками із зусиллям відриву більш 300 кг.</li>
                <li>Система реєстрації і контролю доступу за допомогою безконтактних считивателей. Три рубежі контролю доступу в приміщення Дата -Центру;</li>
                <li>Вхід в серверну через шлюз з додатковим рубежем контролю доступу і відеоконтролем;</li>
                <li>Освітлення периметра будівлі і території, що охороняється;</li>
                <li>Інженерні спорудження фізичного захисту території.</li>
            </ul>
        </div>
    </div>

</div>