<div class="row">
<div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
<div class="menu">
<menuaboutcompany></menuaboutcompany>
</div>
    </div>
<div class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
<h1>Ліцензії</h1>
    <div class="image">
    <h4>Ліцeнзія на надання послуг телефонного зв`язку на території м.Києва</h4>
    <img src="/assets/images/license_phone_kiev.jpg"/>
    <i>Ліцензія N 501096 </i>
    <p>На надання послуг телефонного зв'язку (крім відомчих об'єктів) на території м.Києва</p>
    </div>
    <div class="image">
    <h4>Ліцензія на будівельні роботы</h4>
    <img src="/assets/images/licenz_bilding.jpg"/>
    <i>Ліцензія</i>
    <p>Будівельна діяльність(у відповідності із списком)</p>
    </div>
  <div class="image">
    <h4>Ліцензія на надання послуг зв`язку у Київській області</h4>
    <img src="/assets/images/licenz_phone_suburbs.jpg"/>
    <i>Ліцензія N 720027</i>
    <p>На надання послуг телефонного зв'язку (крім відомчих об'єктів) -
         з правом створення власної мережі ємністю понад 1000 (однієї тисячі)
          абонентських номерів на території Київської області, відповідно до
           Ліцензійних Умов на здійснення діяльності з надання послуг телефонного зв'язку</p>
    </div>
  <div class="image">
    <h4>Ліцeнзія на надання послуг телефонного зв`язку у м.Дніпропетровськ та Дніпропетровської області</h4>
    <img src="/assets/images/licenz_phone_dnipro.jpg"/>
    <i>Ліцензія N 583172</i>
    <p>На надання послуг фіксованого місцевого телефонного зв'язку з ємністю мережі до 10 000 номерів з
         правом технічного обслуговування та експлуатації телекомунікаційних мереж і надання в
          користування каналів зв'язку на території м.Дніпропетровськ та Дніпропетровській області</p>
    </div>
  <div class="image">
    <h4>Ліцeнзія на надання послуг телефонного зв`язку у м.Запорожжя та Запорізькій області</h4>
    <img src="/assets/images/licenz_bilding.jpg"/>
    <i>Ліцензія N 583398</i>
    <p>На надання послуг фіксованого місцевого телефонного зв'язку з ємністю мережі до 10 000
         номерів з правом технічного обслуговування та експлуатації телекомунікаційних мереж і 
         надання в користування каналів зв'язку на території м.Запоріжжя та Запорізькій області)</p>
    </div>
  <div class="image">
    <h4>Ліцeнзія на надання послуг телефонного зв`язку у м. Одеса и Одеській області</h4>
    <img src="/assets/images/licenz_phone_odessa.jpg"/>
    <i>Ліцензія N 583422</i>
    <p>На надання послуг фіксованого місцевого телефонного зв'язку з ємністю мережі до 10 000 
        номерів з правом технічного обслуговування та експлуатації телекомунікаційних мереж і 
        надання в користування каналів зв'язку на території м.Одеса та Одеській області</p>
    </div>
  <div class="image">
    <h4>Ліцeнзія на надання послуг телефонного зв`язку у м. Харкові та Харківській області</h4>
    <img src="/assets/images/licenz_phone_kharkiv.jpg"/>
    <i>Ліцензія N 593010</i>
    <p>На надання послуг фіксованого місцевого телефонного зв'язку з ємністю мережі до 10 000 
        номерів з правом технічного обслуговування та експлуатації телекомунікаційних мереж і 
        надання в користування каналів зв'язку на території м.Харкова та Харківській області</p>
    </div>
  <div class="image">
    <h4>Ліцензія на використання радіочастотних ресурсів України (WiFi)</h4>
    <img src="/assets/images/licenz_frequency_ukrraine.jpg"/>
    <i>Ліцензія N 583454</i>
    <p>На використання радіочастотних ресурсів України</p>
    </div>
  <div class="image">
    <h4>Ліцензія на використання радіочастотних ресурсів України (WiMAX)</h4>
    <img src="/assets/images/licenz_wimax.jpg"/>
    <i>Ліцензія N 120472</i>
    <p>На використання радіочастотних ресурсів України</p>
    </div>
<div class="image">
    <h4>Ліцeнзія на надання послуг міжміського телефонного зв'язку у м.Києві та Дніпропетровській області</h4>
    <img src="/assets/images/licenz_phone_kiev_dnepr.jpg"/>
    <i>Ліцензія N 613875</i>
    <p>На надання послуг фіксованого міжміського телефонного зв'язку у м.Києві та Дніпропетровській області</p>
    </div>
<div class="image">
    <h4>Ліцeнзія на надання послуг з експлуатації телемереж на території м. Київ</h4>
    <img src="/assets/images/licenz_supportnet.jpg"/>
    <i>Ліцензія N 613776</i>
    <p>На надання послуг з експлуатації телемереж на території м. Київ</p>
    </div>
</div>
    </div>