<div class="row">
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
        <div class="menu"> 
        <menuaboutcompany></menuaboutcompany>
        </div>
    </div>
    <div class="col-md-10 col-xs-10 col-sm-10 col-lg-10">
        <h1>Новини</h1>
        <div class="news">
            <div class="itemnews">
                <h4>Інформаційне повідомлення</h4>
                <p>Відкриття нового вузла доступу по <br> вул.Пушкінська,20 <a routerLink="news1" routerLinkActive="active">докладніше</a></p>
               
            </div>
            <div class="itemnews">
                    <h4>Інформаційне повідомлення</h4>
                    <p>Відкриття нового вузла доступу по <br> вул.Ярославів Вал,30 <a routerLink="news2" routerLinkActive="active">докладніше</a></p>
                </div>
             <div class="itemnews">
                        <h4>Увага зміна тарифів</h4>
                        <p>Згідно постанови кабінету міністрів  з 31.08.2017 <br>року водяться нові  тарифи <a routerLink="news3" routerLinkActive="active">докладніше</a></p>
                    </div>
        </div>
        <div class=content>
        <router-outlet></router-outlet> 
        </div>
    </div>
    
</div>
