<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <menusip></menusip>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 ">
           <h2>Договір </h2>
           <div class="dogovor">
           <p><b>Публічний договір</b></p>
           <p> Наведений документ є офіційною пропозицією (офертою) юридичної особи ТОВ «УКРКОМ»,
               яке здійснює діяльність в галузі телекомунікацій на підставі ліцензії Національної комісії, 
               що здійснює державне регулювання у сфері зв’язку та інформатизації України № 000757 від 
               18.05.2017 року, внесене в Реєстр операторів та провайдерів рішенням Національної комісії 
               з питань регулювання зв’язку України  за №384 від 28.09.2006р., і надалі за текстом іменоване 
               «Виконавець», щодо надання послуг фіксованого телефонного зв’язку з використанням ресурсів 
               глобальної мережі Інтернет будь-якій юридичній або фізичній особі, яка надалі іменована «Замовник»,
                а разом іменовані як «Сторони».</p>
             <p>Ця пропозиція, надалі за текстом іменована «Договір», є публічним договором у розумінні статей 
                633 та 641 Цивільного Кодексу України, його умови є однаковими для всіх споживачів.</p>
             <p>У відповідності до статті 642 Цивільного Кодексу України, повною та безумовною відповіддю особи, 
                 яка прийняла пропозицію, про її згоду щодо прийняття умов договору (акцепт), вважається послідовне 
                 виконання двох умов:</p>
              <ol>
                  <li> Надання Виконавцю персональних даних особи, яка акцептувала договір (Замовник), а також згоди
                       на обробку в автоматизованих системах та збереження Виконавцем персональних даних 
                       (для Замовників – фізичних осіб). Підтвердженням виконання цього пункту є підписання Замовником 
                       друкованої версії Договору при особистому зверненні, або надсилання Замовником Виконавцю 
                       електронного повідомлення із заповненою анкетою та згодою з умовами Договору.</li>
                  <li>Надходження на рахунок Виконавця коштів попередньої оплати в розмірі, що є не меншим ніж 100,00 грн. 
                      (сто грн. 00 коп.) з урахуванням ПДВ за кожен номер або канал.</li>
              </ol>
                <p><b>Терміни, вживані в Договорі.</b></p>
                <p><b>Послуги</b> – послуги фіксованого зв'язку, що надаються Виконавцем в рамках Договору, на підставі та відповідно 
                   до ліцензій, виданих Виконавцю Національною комісією регулювання зв'язку України, Національною комісією, що 
                   здійснює державне регулювання у сфері зв’язку та інформатизації, або її правонаступниками (далі по тексту НКРЗІ),
                    та договорів з постачальниками послуг самому Виконавцю.</p>
                <p><b>Телефонний номер </b>– сукупність цифрових знаків для позначення (ідентифікації) кінцевого обладнання Замовника в телекомунікаційній 
                  мережі загального користування, який надається Замовнику на підставі Договору. При цьому право власності на телефонний номер Замовнику не 
                  передається.></p>
                <p><b>Плата за користування послугою </b>– фіксований щоденний платіж за користування телефонним номером, наданим Замовнику Виконавцем, який 
                  нараховується незалежно від факту здійснення вихідних або вхідних з’єднань. Розмір плати за користування послугою зазначений у Тарифах 
                   та оприлюднений на Інтернет – сайті Виконавця.</p>
                <p><b>Особовий рахунок або рахунок Замовника </b> –  індивідуальний номер, зареєстрований за Замовником в автоматизованих системах обліку та розрахунків
                    у Виконавця.</p>
                <p><b>Тарифи та/або Тарифний план </b>– сукупність пропозицій, запропонованих Замовнику Виконавцем щодо вартості, умов та обсягу надання певних Послуг, і
                   оприлюднені на Інтернет- сайті Виконавця.</p>
                <p><b>Реєстраційні реквізити </b>– сукупність знаків, що забезпечують ідентифікацію обладнання та телефонного номера Замовника на обладнанні Виконавця. Генеруються
                   Виконавцем і надаються Замовнику для програмування кінцевого пристрою.</p>
                <p><b>Точка демаркації </b> – фізичне місце, в якому відповідальність за працездатність і всі параметри каналу зв'язку переходить від Виконавця до Замовника.</p>
                <p><b>Відключення</b> – технологічні операції, що блокують Замовнику доступ до Послуг, наприклад, у випадку недостатності коштів на рахунку Замовника для продовження 
                      обслуговування.</p>
                <p><b>Розірвання Договору </b>– припинення прав та обов’язків сторін за Договором у порядку та на підставах, визначених чинним законодавством України та цим Договором.</p>
                <p><b>1. Предмет договору</b></p>
                <p>1.1 Виконавець зобов’язується надавати Замовнику Послуги на умовах попередньої оплати, а Замовник зобов’язується своєчасно поповнювати баланс рахунку та оплачувати надані
                        Послуги згідно Тарифів, оприлюднених на Інтернет – сайті Виконавця.</p>
                <p>1.2 Виконавець надає Замовнику телефонний номер (номери) із виділеного Виконавцю номерного ресурсу, а Замовник оплачує Виконавцю щоденну плату за користування послугою 
                       та вартість вихідних з’єднань (викликів) в розмірах, що встановлені діючим Тарифом, і оприлюднені на Інтернет – сайті Виконавця.</p>
                <p>1.2 Оплата Послуг здійснюється в режимі розрахунку вартості та списання коштів з особового рахунку Замовника для кожного вихідного з’єднання (виклику). У випадку 
                       недостатності коштів на рахунку для здійснення вихідного виклику в обраному напрямку, або, якщо сума наявних коштів на рахунку станом на 00 годин 00 хвилин (початок доби) 
                       дорівнює або менше вартості добової плати за користування Послугами, надання Послуг автоматично відключається. Поновлення надання Послуг відбувається автоматично, після 
                       надходження коштів на особовий рахунок Замовника, за умови, що баланс рахунку перевищує суму добових плат за всі надані Замовнику номери.</p>
                <p>1.4 Відрахування суми щоденної плати за користування послугою з рахунку Замовника здійснюється на початку кожної доби, і не залежить від наявності коштів на особовому рахунку.
                       У випадку, якщо Замовник не здійснював вихідних викликів, але поповнення рахунку не відбулось, при вичерпанні коштів на рахунку може виникати борг. Вхідні з’єднання (виклики)
                       є безкоштовними, але продовження користування телефонним номером (номерами) можливе тільки за умови, що баланс рахунку перевищує суму добових плат за всі надані Замовнику номери.</p>
                <p>1.5 Умови отримання Послуг, які не визначені цим Договором, визначаються Законом України «Про телекомунікації», «Правилами надання та отримання телекомунікаційних послуг» (затвердженими 
                       постановою Кабінету Міністрів України від 11.04.2012 № 295, надалі за текстом «Правила»), а також іншими нормативно-правовими актами України.</p>
                <p><b>2. Права та обов’язки Сторін.</b></p>
                <p>2.1 Замовник має право:</p>
                <p>2.1.1 Отримувати від Виконавця інформацію в обсягу, необхідному для отримання Послуг.</p>
                <p>2.1.2 Користуватися додатковими послугами, перелік та вартість яких оприлюднені Виконавцем.</p>
                <p>2.1.3 Отримувати безкоштовно на електронну пошту розшифровку вартості та обсягу наданих  послуг.</p>
                <p>2.1.4  Змінювати реєстраційні дані пристрою (логіни, паролі) в порядку, визначеному Договором та інструкціями, що надаються Замовнику Виконавцем при узгодженні договору.</p>
                <p>2.1.5 Контролювати стан особового рахунку у особистому кабінеті, отримувати на вказану електронну адресу автоматичні попередження про критичне зменшення залишку коштів на особовому рахунку та необхідність його поповнення.</p>
                <p>2.2 Замовник зобов’язаний:</p>
                <p>2.2.1 Виконувати умови цього Договору та інших нормативно-правових актів, які регулюють умови надання телекомунікаційних послуг в Україні.</p>
                <p>2.2.2Своєчасно здійснювати оплату та авансування наданих Послуг шляхом внесення грошових коштів на особовий рахунок. Якщо залишок коштів на рахунку Замовника станом на початок доби дорівнює 
                        або менший за розмір добової плати за користування Послугою, надання Послуг відключається до внесення Замовником коштів на особовий рахунок, а у випадку не поповнення особового рахунку 
                        протягом 15 (п’ятнадцяти) календарних діб з дати відключення, Договір вважається розірваним за бажанням Замовника.</p>
                <p>2.2.3Надати Виконавцю достовірну інформацію щодо особистих реквізитів та своєчасно, не пізніше 10 робочих днів, повідомляти Виконавця у випадку їх зміни.</p>
                <p>2.2.4 Не використовувати Послуги та технічні можливості телекомунікаційної мережі Виконавця з метою маршрутизації трафіку з будь-яких інших мереж на мережу Виконавця, а також від мережі Виконавця 
                         на будь-які інші мережі незалежно від технологій, що застосовуються.</p>
                <p>2.2.5 Не надавати послуг зв’язку з використанням наданих номерів та ресурсів мережі Виконавця будь-яким стороннім особам.</p>
                <p>2.2.6 Зберігати всі реєстраційні дані у суворій таємниці. Не розголошувати цю інформацію будь-яким стороннім особам.</p>
                <p>2.2.7 Нести повну відповідальність за всі виклики, здійснені з реєстраційними даними Замовника.</p>
                <p>2.2.8Негайно повідомити Виконавця про крадіжку кінцевого обладнання, втрату або підозру в компрометації реєстраційних даних та діяти згідно вказівок персоналу Виконавця.</p>
                <p>2.2.9 Не використовувати Послуги в цілях, заборонених чинним законодавством України, не здійснювати перешкод у користуванні послугами Виконавця для інших Замовників, не здійснювати будь-яких дій,
                           що можуть бути кваліфіковані як втручання в роботу автоматизованих систем розрахунків або в роботу комутаційних та комп’ютерних систем, не здійснювати зловмисних викликів, не замовляти, 
                           не пропонувати розсилання, не розсилати та не розповсюджувати спам.</p>
                <p>2.2.10 Надавати Виконавцю достовірну інформацію щодо обладнання, яке підключається до мережі Виконавця та своєчасно попереджати персонал Виконавця про заміну обладнання.</p>
                <p><b>2.3 Виконавець має право:</b></p>
                <p>2.3.1 Зупинити надання телекомунікаційних Послуг Замовнику у випадку вичерпання коштів на рахунку Замовника.</p>
                <p>2.3.2 Зупинити надання Послуг та розірвати Договір із Замовником у випадку здійснення  дій, що можуть бути кваліфіковані як втручання в роботу автоматизованих систем розрахунків або в роботу
                          комутаційних (комп’ютерних) систем, у випадку порушення Замовником Правил надання та отримання телекомунікаційних послуг, а також, якщо протягом 15 календарних діб після закінчення 
                          коштів на рахунку Замовника, він не поповнить особовий рахунок на суму, що достатня для продовження надання Послуг на умовах, що викладені вище.</p>
                <p>2.3.3 Зупинити надання Послуг та розірвати Договір із Замовником у випадку виявлення порушення правил маршрутизації трафіку (передача вихідного трафіку в інші мережі або від інших мереж на мережу Виконавця).</p>
                <p>2.3.4 Зупинити надання Послуг у випадку, якщо обладнання, з якого надходять запити на реєстрацію, не відповідає типу, вказаному Замовником при укладанні та виконанні цього Договору, або з боку обладнання 
                         надходять пакети, що порушують нормальну роботу обладнання Виконавця.</p>
                <p>2.3.5 Змінювати Тарифи на Послуги. Про зміну тарифів споживачі інформуються шляхом оприлюднення Тарифів на сайті Виконавця <a href="www.ukr-com.net">www.ukr-com.net</a>  та розсиланням електронних повідомлень (листів). Неотримання електронної 
                         пошти не є підставою для відмови Замовника від оплати за надані послуги.</p>
                <p> 2.3.6 У випадку необхідності самостійно змінювати реєстраційні реквізити Замовника за власною ініціативою, з обов’язковим попередженням Замовника.</p>
                <p>2.3.7 Обмежувати вихідні з’єднання на небезпечні напрямки (перелік кодів оприлюднений на сайті Виконавця), що зазвичай використовуються для зловмисного використання. Якщо Замовник має потребу у вихідних дзвінках на небезпечні напрямки, 
                         він має попередити відділ по роботі з абонентами Виконавця про таку необхідність. При цьому Замовнику рекомендується для таких напрямків замовити додаткову послугу «call gapping», яка обмежує кількість можливих вихідних з’єднань 
                         за певним напрямком протягом визначеного проміжку часу.</p>
                <p>2.4 Виконавець зобов’язаний:</p>
                <p>2.4.1 Надавати Послуги Замовнику у відповідності до цього Договору, Тарифів та діючих нормативно-правових актів України.</p>
                <p>2.4.2 Не розголошувати відомості, одержані від Замовника в порядку виконання Договору, а також дані по переговорах, окрім випадків, визначених чинним законодавством України.</p>
                <p>2.4.3 Приймати та розглядати скарги в порядку, встановленому Правилами надання послуг.</p>
                <p><b>3. Відповідальність.</b></p>
                <p>3.1 Відповідальність Сторін встановлюється цим Договором, а також діючими нормативно-правовими актами України.</p>
                <p>3.2 Виконавець не несе відповідальності за якість роботи мереж передавання даних за межами власної мережі, що впливає на якість та доступність зв’язку, а також за всі можливі збитки, що можуть бути наслідком таких проблем. Точкою 
                       демаркації для Послуг Виконавця є порт передачі даних комутаційного обладнання Виконавця.</p>
                <p> 3.3 Виконавець не несе  відповідальності перед третіми особами, якщо їм буде причинений будь-який збиток, пов'язаний з діями або бездіяльністю Замовника.</p>
                <p><b>4.  Обставини непереборної сили (форс-мажор).</b></p>
                <p>4.1 Сторони не несуть відповідальності за невиконання або обмеження виконання Договору, якщо таке викликане дією непереборних сил, передбачити які на момент акцептування Договору було неможливо, а саме: військові дії, страйки та
                       суспільні безладдя, стихійні лиха, пожежі, а також рішення органів влади та управління, які роблять неможливим або обмежують подальше виконання Договору.</p>
                <p><b>5. Прикінцеві положення.</b></p>
                <p>5.1 Обладнання Замовника повинно бути сумісним із обладнанням Оператора і задовольняти вимогам до протоколу SIP згідно спеціфікацій RFC##3261-3264.</p>
                <p>5.2 Перед першою оплатою, але після акцептування Замовником умов Договору та надання повних реквізитів, Виконавець надає Замовнику можливість тестування підключення шляхом здійснення дзвінків на вказані Виконавцем номери.</p>
                <p>5.3 Відновлення надання Послуг Замовнику після відключення проводиться після зарахування коштів на особовий рахунок Замовника. При цьому із внесених коштів спочатку відраховується заборгованість по платі за користування Послугами
                       (якщо така є), а решта коштів стає доступною для оплати поточних вихідних викликів та оплати подальшого користування Послугою.</p>
                <p><b>6. Термін дії Договору та умови його дострокового розірвання.</b></p>
                <p>6.1 Договір набуває чинності з моменту надходження попередньої оплати на рахунок Виконавця, та діє до виконання Сторонами своїх зобов'язань за Договором.</p>
                <p>6.2 Договір вважається розірваним за бажанням Замовника у випадку, якщо баланс рахунку стає недостатнім для оплати вихідних з’єднань та (або) плати за користування Послугою, і Замовник протягом 15 календарних діб не поповнить
                       рахунок на суму, що дорівнює або є більшою за плату за користування Послугою з врахуванням боргу.</p>
                <p>6.3 Замовник має право достроково розірвати дію Договору, про що повідомляє Виконавця за 15 календарних діб до бажаного строку розірвання договору.</p>
                <p>6.4 Виконавець має право достроково розірвати дію Договору при невиконанні Замовником умов розділів 2, 3 та 5 Договору.</p>
                <p><b>7. Реквізити Виконавця.</b></p>
                <p><b>Товариство з обмеженою відповідальністю «УКРКОМ».</b></p>
                <p>04119, м. Київ, вул. Сім’ї Хохлових, 15 тел. 205-55-55 факс 205-55-25,</p>
                <p>п/р 26001799983774 у ПАТ КБ «ПРАВЕКС-БАНК»,  МФО 380838, Код 22891175,</p>
                <p>ІПН № 228911726052.</p>
                <p>Статус платника податку на прибуток за основною ставкою.</p>
                <p>Електронна пошта: <a href="maito:office@ukr-com.net ">office@ukr-com.net </a>, електронна адреса для замовлення послуг: <a href="mailto:info@ukr-com.net ">info@ukr-com.net </a> , телефон відділу обслуговування абонентів:
                     (+38) 044 205-55-88,</p>
                <p>WEB-сторінка: <a href="www.ukr-com.net">www.ukr-com.net</a></p>

           </div>
    </div>
</div>