<div class="row">
    <div class="col-md-12 col-sx-12 col-sm-12 col-lg-12 slider">
<carousel>
  <slide>
    <img src="assets/images/tele-1.jpg" alt="First slide">
    <div class="carousel-caption">
      <h3>Послуги дата центру</h3>
      <p>Проектування, продаж, підтримка</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/tele-2.jpg" alt="Second slide">
    <div class="carousel-caption">
      <h3>Інтернет та передача данних</h3>
      <p>Корпоративна мережа руками професіоналів</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/tele-3.jpg" alt="Third slide">
    <div class="carousel-caption">
      <h3>Послуги телефонного зв'язку</h3>
      <p>Надійно, якісно, професійно</p>
    </div>
  </slide>
</carousel>
    </div>
</div>