<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <h2>Оплата послуг</h2>
        <div class="image"><img src="assets/images/liqpay.png" alt="Ligpay"><a href="https://www.liqpay.ua/">Liqpay</a></div>
        <div class="image"><img src="assets/images/privat24.png"alt="Privat24"><a href="https://www.privat24.ua/">Приват24</a></div>
        <div class="image"><img src="assets/images/ipay.jpg" alt="IPay"><a href="https://www.ipay.ua/ru/bills/oplatit-telephone-ukrcom-online">Телефонія</a></div>
        <div class="image"><img src="assets/images/ipay.jpg" alt="IPay"><a href="https://www.ipay.ua/ru/bills/oplatit-internet-ukrcom-online">Інтернет</a></div>
        <div class="image"><img src="assets/images/ibox.png" alt="IBox"><a href="http://www.iboxbank.online/">IBox</a>тимчасово призупинено</div>
        <p>- Комісія за поповнення згідно діючих тарифів.</p>
    </div>

</div>