<div class="dropdown">
    <button class="btn btn-success dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Выберіть меню
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a role="menuitem" routerLink="/mainpage" routerLinkActive="active" >Опис полсуг</a></li>
      <li role="presentation"><a role="menuitem" routerLink="/infra" routerLinkActive="active">Інфраструктура</a></li>
      <li role="presentation"><a role="menuitem" routerLink="/gallery" routerLinkActive="active">Фотогалерея</a></li>
      <li role="presentation"><a role="menuitem" routerLink="/requestform" routerLinkActive="active">Замовити послугу</a></li>
    </ul>
  </div>