<div class="row">
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
        <menuphone></menuphone>
    </div>
    <div class="col-md-10 col-xs-10 col-sm-10 col-lg-10 codekiev">
        <h1>Телефонні коди Київської області</h1>
            <table class="redTable">
                    <thead>
                    <tr>
                    <th>Населений пункт</th>
                    <th>Код</th>                  
                    </tr>
                    </thead>                  
                    <tbody>
                    <tr>
                    <td>Київ</td>
                    <td>44</td>
                    
                    </tr>
                    <tr>
                    <td>Баришівка</td>
                    <td>4576</td>
                    
                    </tr>
                    <tr>
                    <td>Біла Церква</td>
                    <td>4563</td>
                    
                    </tr>
                    <tr>
                    <td>Богуслав</td>
                    <td>4561</td>
                    
                    </tr>
                    <tr>
                    <td>Бориспіль</td>
                    <td>4595</td>
                    
                    </tr>
                    <tr>
                     <td>Бородянка</td>
                     <td>4577</td>                          
                     </tr>
                     <tr>
                    <td>Боярка</td>
                    <td>45983,45984</td>                          
                    </tr>
                    <tr>
                    <td>Бровари</td>
                    <td>4594</td>                          
                    </tr>
                    <tr>
                    <td>Буча</td>
                    <td>45972</td>                          
                    </tr>
                    <tr>
                    <td>Васильків</td>
                    <td>4571</td>                          
                    </tr>
                    <tr>
                    <td>Вишневе</td>
                    <td>45985,45086,45987</td>                          
                    </tr>
                    <tr>
                    <td>Вишгород</td>
                    <td>4596</td>                          
                    </tr>
                    <tr>
                    <td>Володарка</td>
                    <td>4569</td>                          
                    </tr>
                    </tbody>
                    <tr>
                    <td>Ворзель</td>
                    <td>45974</td>                          
                    </tr>
                    <tr>
                    <td>Гостомель</td>
                    <td>45973</td>                          
                    </tr>
                    <tr>
                    <td>Згурівка</td>
                    <td>4570</td>                          
                    </tr>
                    <tr>
                    <td>Іванків</td>
                    <td>4591</td>                          
                    </tr>
                    <tr>
                    <td>Ірпінь</td>
                    <td>4597</td>                          
                    </tr>
                    <tr>
                     <td>Кагарлик</td>
                    <td>4573</td>                          
                    </tr>
                    <tr>
                    <td>Коцюбинське</td>
                     <td>45977</td>                          
                    </tr>
                    <tr>
                    <td>Красятичі</td>
                    <td>4592</td>                          
                    </tr>
                    <tr>
                    <td>Макарів</td>
                    <td>4578</td>                          
                    </tr>
                    <tr>
                    <td>Миронівка</td>
                    <td>4574</td>                          
                    </tr>
                    <tr>
                    <td>Обухів</td>
                    <td>4572</td>                          
                    </tr>
                    <tr>
                    <td>Переяслав-Хмельницький</td>
                     <td>4567</td>                          
                    </tr>
                    <tr>
                    <td>Ракитне</td>
                    <td>4562</td>                          
                    </tr>
                    <tr>
                    <td>Сквира</td>
                    <td>4568</td>                          
                    </tr>
                    <tr>
                    <td>Славутич</td>
                    <td>4579</td>                          
                    </tr>
                    <tr>
                    <td>Ставище</td>
                    <td>4564</td>                          
                    </tr>
                    <tr>
                    <td>Тараща</td>
                    <td>4566</td>                          
                    </tr>
                    <tr>
                    <td>Тетієв</td>
                    <td>4560</td>                          
                    </tr>
                    <tr>
                    <td>Фастів</td>
                    <td>4565</td>                          
                    </tr>
                    <tr>
                    <td>Чернобиль</td>
                    <td>4593</td>                          
                    </tr>
                    <tr>
                    <td>Яготин</td>
                    <td>4575</td>                          
                    </tr>
                    </table>
    </div>
</div>