<div class="container-fluid">
<div class="row">
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 menuphone">
        <menuphone></menuphone>
    </div>
    <div class="col-md-10 col-xs-10 col-sm-10 col-lg-10">
        <div class="mainphone">

<h1>ТОВ "УКРКОМ" надає послуги телефонного зв'язку:</h1>
        <ul>
                <li>Підключення аналогових та цифрових телефонних ліній від виносних концентраторів ТОВ "УКРКОМ".</li>
                <li>Підключення за допомогою цифрових телефонних ліній і адаптерів абонентів по протоколу SIP з міським номером –<br>
                     для абонентів, що є клієнтами мережі передачі даних ТОВ «УКРКОМ», або для клієнтів, які вже мають аналогові <br>
                     або цифрові телефони від ТОВ «УКРКОМ».</li>
                <li>Підключення термінальних адаптерів абонентів по протоколу Н.323 з міським номером – для абонентів, що є <br>
                    клієнтами мережі передачі даних ТОВ«УКРКОМ», або для клієнтів, які вже мають аналогові або цифрові <br>
                    телефони від ТОВ «УКРКОМ».</li>
               <li> Підключення багатоканальних адаптерів і IP PBX абонентів за протоколами SIP, SIP-T з наданням міських <br>
                    номерів – для абонентів, що є клієнтами мережі передачі даних ТОВ«УКРКОМ», або для клієнтів, які вже мають <br>
                    аналогові або цифрові телефони від ТОВ«УКРКОМ».</li>
                <li>Підключення власних або орендованих телефонних станцій абонентів цифровими потоками E1 (ISDN PRI) – <br>
                    надійний і недорогий спосіб організації зв'язку офісів з кількістю робочих місць від 8-10 до декількох сотень</li>
               <li> Надання в оренду або продаж обладнання для побудови систем корпоративного зв'язку – всіх типів і на будь-які ємності</li>
               <li> Організація для абонентів мережі ТОВ«УКРКОМ» спеціальних номерів доступу типу 8-800, скорочених номерів, і т.д.</li>
               <li> Розробка проектів по організації зв'язку, прокладання кабелів, побудови будь-яких телекомунікаційних вузлів.</li>
                <li>Виконання будівельних, монтажних і пусконалагоджувальних робіт для систем зв'язку «під ключ».</li>
                <li>Підключення житлових комплексів, бізнес-центрів, котеджних містечок до мереж ТОВ «УКРКОМ» - починаючи від <br>
                    розробки проектного рішення, і до введення в експлуатацію – всі роботи «під ключ».</li>
                
        </ul>
        </div>
    </div>
</div>
</div>